/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 26.875em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 21.875em) {
    html {
      font-size: 45%; } }

body {
  font-family: "League Spartan", sans-serif;
  display: grid;
  place-content: center;
  background-image: url(../img/bg-pattern-top-desktop.svg), url(../img/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 26.875em) {
    body {
      background-image: url(../img/bg-pattern-top-mobile.svg), url(../img/bg-pattern-bottom-mobile.svg); } }

.heading-1 {
  color: #502050;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  /* 85.714% */
  letter-spacing: -0.2rem; }

.top__paragraph-text {
  color: #937b92;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  /* 131.579% */
  letter-spacing: -0.0633rem; }

.top__ratings-text {
  color: #502050;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.testimonial__paragraph {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  /* 129.412% */
  letter-spacing: -0.0304rem;
  max-width: 28.6rem;
  align-self: center; }

.testimonial__name {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.testimonial__status {
  color: #ee68a4;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.top {
  max-width: 144rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(44.5rem, 54rem));
  column-gap: 3rem;
  margin-bottom: 7.1rem; }
  .top__heading-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    @media only screen and (max-width: 69.375em) {
      .top__heading-container {
        text-align: center;
        margin-top: 8.2rem;
        margin-bottom: 3.9rem; } }
  .top__heading {
    max-width: 44.5rem; }
  .top__paragraph {
    max-width: 44.5rem; }
    @media only screen and (max-width: 28.125em) {
      .top__paragraph {
        max-width: 32.7rem;
        align-self: center; } }
  .top__ratings {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    .top__ratings-reviews {
      padding-right: 7.9rem; }
    .top__ratings-guru {
      transform: translateX(10%); }
    .top__ratings-besttech {
      transform: translateX(20%); }
    @media only screen and (max-width: 69.375em) {
      .top__ratings-guru, .top__ratings-besttech {
        transform: translate(0); }
      .top__ratings-reviews {
        padding: 0; } }
  @media only screen and (max-width: 69.375em) {
    .top {
      grid-template-columns: auto;
      place-items: center; } }

.testimonial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 35rem));
  column-gap: 3rem; }
  .testimonial img {
    max-width: 4rem;
    border-radius: 50%; }
  @media only screen and (max-width: 69.375em) {
    .testimonial {
      place-content: center; } }

.stars {
  display: flex;
  gap: 0.5rem;
  height: 1.5773rem; }

.ratings-box {
  display: flex;
  column-gap: 3.24rem;
  flex-direction: row-reverse;
  background-color: #F7F2F7;
  max-width: 44.5rem;
  min-height: 5.6rem;
  align-items: center;
  border-radius: 0.8rem;
  justify-content: flex-end;
  padding-left: 3.2rem; }
  @media only screen and (max-width: 69.375em) {
    .ratings-box {
      width: 32.7rem;
      min-height: 7.8rem;
      flex-direction: column-reverse;
      text-align: center;
      padding-left: 0;
      justify-content: center;
      gap: 1.52rem; } }

.testimonial__card {
  max-width: 35rem;
  min-height: 23.4rem;
  border-radius: 0.8rem;
  background-color: #502050;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }
  .testimonial__card-top {
    display: flex;
    gap: 2.3rem;
    padding-top: 4rem;
    padding-left: 3.2rem;
    align-items: center; }
  .testimonial__card-2 {
    transform: translateY(1.6rem); }
  .testimonial__card-3 {
    transform: translateY(3.2rem); }
