.top {
    max-width: 144rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44.5rem, 54rem));
    column-gap: 3rem;
    margin-bottom: 7.1rem;

    &__heading-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        animation: fadeIn 3s;

        @media only screen and (max-width: 69.375em) {
            text-align: center;
            margin-top: 8.2rem;
            margin-bottom: 3.9rem;
        }
    }

    &__heading {
        max-width: 44.5rem;
    }

    &__paragraph {
        max-width: 44.5rem;

        @media only screen and (max-width: 28.125em) {
            max-width: 32.7rem;
            align-self: center;
        }
    }

    &__ratings {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        
        &-reviews {
            padding-right: 7.9rem;
            animation: moveInLeft 1s ease-in;
        }

        &-guru {
            transform: translateX(10%);
            animation: moveInLeft 1.8s ease-in;
        }

        &-besttech {
            transform: translateX(20%);
            animation: moveInLeft 2s ease-in;
        }

        @media only screen and (max-width: 69.375em) {
            &-guru,
            &-besttech {
                transform: translate(0);
            }
            &-reviews {
                padding: 0;
            }
        }
    }

    @media only screen and (max-width: 69.375em) {
        grid-template-columns: auto;
        place-items: center;
    }
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 35rem));
    column-gap: 3rem;

    img {
        max-width: 4rem;
        border-radius: 50%;
    }

    &__card-1 {
        animation: moveInTop 1s ease-in;
    }

    &__card-2 {
        animation: moveInTop 1.7s ease-in;
    }

    &__card-3 {
        animation: moveInTop 2s ease-in;
    }

    @media only screen and (max-width: 69.375em) {
        place-content: center;
    }
}